
/*fonts*/
@font-face {
  font-family: "Lemon Milk";
  src: url(LemonMilk.otf);
}

@font-face {
  font-family: "Caviar Dreams";
  src: url(CaviarDreams.ttf);
}

/*animations*/
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@keyframes float {
  0% {
    transform:translateY(-6vh);
  }
  50% {
    transform:translateY(-1vh);
  }
  100% {
    transform:translateY(-6vh);
  }
}

/*hide scrollbar*/
::-webkit-scrollbar {
    display: none;
}

/*root colors and fonts*/
:root {
  --fadedred: #CF6766;
  --darkblue: #031424;
  --lightblue: #97AABD;
  --lightbeige: #EEE2DC;
  --mediumbeige: #EDC7B7;
  --lightgrey: #BAB2B5;
  --oceanblue: #0F6178;
  --titlefont: "Lemon Milk";
  --bodyfont: "Caviar Dreams";
}

html, body {
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  margin: 0;
}

.ocean {
  height: 0%;
  width: 100%;
  position:absolute;
  bottom:0;
  left:0;
  opacity: 0;
}

.wave{
  position: relative;
  top: -35vh;
  left: -50vw;
  height: 35vh;
  width: 150vw;
}
/*animated intro and end logo*/
#intro {
  height: 100vh;
  width: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#end {
  height: 55vh;
  width: 55vh;
  position: absolute;
  top: 4vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

/*logo container*/
.container1 {
  width: 100vh;
  height: 100vh;
}

/*side scrollbar*/
.scrollbar {
  position: fixed;
  top: 50%;
  margin-top: -15vh;
  right: 0;
  opacity: 0;
  z-index: 5;
}

.scrollbarchild {
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 50%;
  position: relative;
  background-color: var(--darkblue);
  margin: 2vh;
}

/*scroll down button*/
.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 2vh;
  z-index: 5;
}

.scrolldown {
  height: 4vh;
  width: 3vw;
  font-family: var(--bodyfont);
  text-decoration: none;
  opacity: 0;
  overflow: none;
  z-index: 5;
  animation-name: float;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  clip-path: polygon(50% 55%, 100% 20%, 100% 50%, 50% 85%, 0% 50%, 0 20%);
  -webkit-clip-path: polygon(50% 55%, 100% 20%, 100% 50%, 50% 85%, 0% 50%, 0 20%);
  background-color: var(--darkblue);
}

.main {
  width: 100vh;
  position: absolute;
  top: 100vh;
}

/*first heading*/
.aboutme {
  font-family: var(--titlefont);
  position: relative;
  left: 9vw;
  height: 10vh;
  padding-top: 10vh;
}

.aboutmesmall {
  position: relative;
  top: 3vh;
  left: -1vw;
  font-size: 5vw;
}

.aboutmebig {
  position: relative;
  top: -20vh;
  left: -4vw;
  font-size: 9vw;
}

/*first heading container*/
.container2 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: static;
  top: 130vh;
  background: linear-gradient(var(--oceanblue), var(--lightblue));
}
