@font-face {
  font-family: "Lemon Milk";
  src: url(LemonMilk.otf);
}

@font-face {
  font-family: "Caviar Dreams";
  src: url(CaviarDreams.ttf);
}

::-webkit-scrollbar {
    display: none;
}

:root {
  --color1: #CF6766;
  --color2: #031424;
  --color3: #97AABD;
  --color4: #EEE2DC;
  --color5: #EDC7B7;
  --titlefont: "Lemon Milk";
  --bodyfont: "Caviar Dreams";
}

html, body {
  background-color: var(--color1);
  overflow: hidden;
  height: 100%;
}

#intro {
  height: 750px;
  width: 750px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#end {
  height: 410px;
  width: 410px;
  position: absolute;
  top: 26px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

.scrollbar {
  position: fixed;
  top: 50%;
  margin-top: -95px;
  right: 0;
  opacity: 0;
}

.scrollbarchild {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: relative;
  top: 10px;
  background-color: var(--color2);
  margin: 15px;
}

.scrolldown {
  height: 100px;
  width: 100px;
  font-family: var(--bodyfont);
  text-decoration: none;
  color: var(--color2);
  position: relative;
  left: 90vh;
  top: 90vh;
  opacity: 0;
}

.main {
  width: 100vh;
}

.aboutme {
  font-family: var(--titlefont);
  font-size: 60px;
  position: relative;
  left: 100px;
  opacity: 0;
  padding-top: 75px;
}

.container1 {
  width: 100vh;
  height: 100vh;
}

.container2 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.boxes {
  height: 30vh;
  width: 22.5vh;
  border-radius: 10px;
  background-color: var(--color4);
  font-family: "Caviar Dreams";
  font-size: 40px;
  padding: 100px;
  text-align: center;
  position: relative;
  float: left;
  left: 10vh;
  margin: 30px;
  top: 100px;
}

.education {
  opacity: 0;
  background: linear-gradient(to bottom right, var(--color5), var(--color4));
}

.education p{
  position: relative;
  left: -25px;
  top: 35px;
  z-index: 3;
}

.work {
  opacity: 0;
  background: linear-gradient(to bottom right, var(--color5), var(--color4));
}

.work p{
  position: relative;
  top: 35px;
  left: 0px;
  z-index: 3;
}

.wins {
  opacity: 0;
  background: linear-gradient(to bottom right, var(--color5), var(--color4));
}

.wins p{
  position: relative;
  top: 35px;
  left: 0px;
  z-index: 3;
}

.line {
  border-left: 2px solid var(--color3);
  height: 546px;
  transform: rotate(41deg);
  position: relative;
  top: 237px;
  left: -351px;
}

.gradientcover{
  height: 57.5vh;
  width: 50vh;
  border-radius: 10px;
  background-color: var(--color4);
  position: relative;
  top: -773px;
  left: -100px;
  z-index: 1;
  opacity: 1;
}
